[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip-tools = "*"

[packages]
path = "*"
sphinx = "*"
sphinx-git = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-domaintools = {git = "https://github.com/tylerbutler/sphinxcontrib-domaintools-update.git",ref = "dev"}
sphinxcontrib-httpdomain = "*"

[requires]
python_version = "3.7"
